body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
  
}

#page {
    height: 100%;
    width: 100%;
    max-height: 1000px;
    max-width: 1400px;
}

.fotofundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url("foto%20pessoal.png");
    background-position: center;
}

nav ul {;
    margin: 0px;
    padding: 0px;
}

nav ul a {
    text-decoration: none;
}

nav ul a li {
    display: inline-block;
    list-style: none;
    padding: 10px 40px 10px;
    text-align: center;
    color: #999999;
    text-decoration: none;
}

li1 {
    display: inline-block;
    list-style: none;
    padding: 10px 40px 10px;
    text-align: center;
    color: #7F0000;
    text-decoration: none;
}

nav ul a li:hover {
    color: #7F0000;    
}

.grid-100{
    position: relative;
    left:60%;
    box-sizing: 50%;
}

.quadrado {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);    
}

.icones {
    position: absolute;
    width: 46px;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
}

.icones svg:hover {
    background-image: repeating-radial-gradient;
    opacity: 0.5;
}

.titulo {
    font-size: 52px;
    color: #999999;
    position: absolute;
    top: 28%;
    left: 57%;
    transform: translateY(-25%);
}

.texto {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translateY(-25%);
    line-height: 25px;
}

p1 {
    font-size: 25px;
    color: #999999;
    font-weight: lighter;
}

p2 {
    font-size: 15px;
    color: #999999;
    font-weight: bold;
}

.seta {
    position: absolute;
    top: 2%;
    left: 1%;
}

.seta svg:hover {
    background-image: repeating-radial-gradient;
    opacity: 0.5;
}